.modal {
    .modal-header{
        background:$background-dark;    
    }
    .modal-body{
        background-color: $background-pale;    
    }
    .modal-title {
        @include modal-header-text;
    }
    .close {
        @include modal-header-text;
    }

}